.articlePreview {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5em;
  padding: 0 1rem;
}

.articlePreview__title {
  margin-bottom: 30px;
}

.articlePreview__description {
  font-size: .888888889rem;
  color: #666;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 15px;
  margin-bottom: 20px;
}

/* mimic bootstrap */
.articlePreview__notification {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; 
}

.articlePreview img {
  max-width: 100%;
}

