name: Cypress Tests
on:
  pull_request:
    branches:
      - next
      - main
      - master
  workflow_dispatch:

jobs:
  testing:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cypress run
        uses: cypress-io/github-action@v6.8.0
        with:
          build: npm run build
          start: npm start
        env:
          ENV: test
