name: 'Label PR'
on:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '18.14.x'
      - uses: actions/labeler@v5
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
